<p-menubar>
  <ng-template pTemplate="start">
    <p class="text-2xl font-semibold">BAAR data visualizer</p>
  </ng-template>
</p-menubar>

<br />

<p-splitter
  [panelSizes]="[35, 65]"
  [style]="{ height: 'calc(100vh - 155px)' }"
  styleClass="mb-5"
>
  <ng-template pTemplate>
    <div class="col flex-column">
      <p class="text-lg font-semibold">Data</p>

      <div [style]="{ textAlign: 'right' }">
        <p-button
          icon="pi pi-upload"
          [rounded]="true"
          [text]="true"
          severity="warning"
          [size]="'large'"
        />

        <p-button
          icon="pi pi-eye"
          [rounded]="true"
          [text]="true"
          severity="info"
          [size]="'large'"
        />
      </div>

      <br />

      <ngx-monaco-editor
        class="raw-baar-data-editor"
        [options]="editorOptions"
        [(ngModel)]="code"
        [style]="{ height: 'calc(100vh - 280px)' }"
      ></ngx-monaco-editor>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex-column">
      <p class="text-lg font-semibold">Visual editor</p>

      <div [style]="{ textAlign: 'right' }">
        <p-button
          icon="pi pi-clipboard"
          [rounded]="true"
          [text]="true"
          severity="info"
          [size]="'large'"
        />

        <p-button
          icon="pi pi-download"
          [rounded]="true"
          [text]="true"
          severity="warning"
          [size]="'large'"
        />
      </div>

      <br />
    </div>
  </ng-template>
</p-splitter>
