<p-menubar>
  <ng-template pTemplate="start">
    <p class="text-2xl font-semibold">BAAR data playground</p>
  </ng-template>
</p-menubar>

<br />

<p-splitter
  [panelSizes]="[35, 3, 65]"
  [style]="{ height: 'calc(100vh - 155px)' }"
  styleClass="mb-5"
>
  <ng-template pTemplate>
    <div class="col flex-column">
      <p class="text-lg font-semibold">Data</p>

      <div>
        <p-button
          icon="pi pi-upload"
          [rounded]="true"
          [text]="true"
          severity="warning"
          [size]="'large'"
          [disabled]="true"
        />

        <p-button
          icon="pi pi-clipboard"
          [rounded]="true"
          [text]="true"
          severity="success"
          [size]="'large'"
          (onClick)="copyDataToClipboard()"
        />
      </div>

      <br />

      <ngx-monaco-editor
        class="raw-baar-data-editor"
        [options]="menloEditorOptions"
        [(ngModel)]="data"
        [style]="{ height: 'calc(100vh - 280px)' }"
      ></ngx-monaco-editor>
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="flex align-content-center flex-wrap" style="min-height: 200px">
      <div class="flex align-items-center justify-content-center">
        <p-button
          icon="pi pi-arrow-circle-right"
          [rounded]="true"
          [text]="true"
          severity="info"
          [size]="'large'"
          (onClick)="initializeData()"
        />
      </div>

      <div class="flex align-items-center justify-content-center">
        <p-button
          icon="pi pi-arrow-circle-left"
          [rounded]="true"
          [text]="true"
          severity="info"
          [size]="'large'"
          (onClick)="replaceData()"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate>
    <div class="col flex-column">
      <p class="text-lg font-semibold">Visual editor</p>

      <div>
        <p-button
          icon="pi pi-download"
          [rounded]="true"
          [text]="true"
          severity="warning"
          [size]="'large'"
          [disabled]="true"
        />
      </div>

      <br />

      <hot-table
        [data]="dataset"
        [colHeaders]="true"
        [rowHeaders]="true"
        height="calc(100vh - 290px)"
        [autoWrapRow]="true"
        [autoWrapCol]="true"
        [dragToScroll]="true"
        [contextMenu]="true"
        licenseKey="non-commercial-and-evaluation"
      >
        @if (columns.length > 0) { @for (column of columns; track $index) {
        <hot-column data="{{ column }}" title="{{ column }}"></hot-column>
        } }
      </hot-table>
    </div>
  </ng-template>
</p-splitter>
